@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
body{
    background-color: rgb(12, 13, 18);
    color: rgb(255, 184, 122);
    /* background-image: url('DSC02331.JPG');
    background-size: 100%;
    background-repeat: no-repeat; */
}
.image img{
    max-width:250px;
    /* border: ridge rgb(255, 255, 255); */
    box-shadow: 10px 10px rgb(0, 0, 0, .4);
    border-radius: 2px;

}
body a{
    color: rgb(139, 139, 139);
    text-decoration: none;
    
}
body a:visited{
    color: rgb(139, 139, 139);
}

p,a, h2,h1{
    font-family: 'Fira Mono', monospace;
}
a{
    display: block;
}
#container{
    /* max-width: 960px; */
    /* margin: 0 auto; */
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    /* grid-gap: 20px; */
    /* margin: 5rem; */
    padding: 30px;
    background-color: rgba(42, 46, 54, 0.858);
    /* border-radius: 10px; */
    box-shadow: 50px 50px rgba(0, 0, 0, 0.678);
    max-height: 500px;
    width: 1000px;
    min-height: 50px;
    min-width: 50%;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content:space-evenly; */
    justify-content:space-between;
    gap:5%;
    z-index: -1;
    /* border-radius:10px ; */
}
.general{
    grid-row: 2/2;
    grid-column: 2/3;
    /* justify-self: flex-start; */
}
.general h2{
    /* text-decoration: dashed underline rgba(201, 255, 181, 0.481); */
    color: rgb(202, 255, 171);
}
.entertainment h2{
    /* text-decoration: dashed underline rgba(241, 255, 181, 0.593); */
    color: rgb(241, 255, 181);
}
.graphic_design h2{
    /* text-decoration: dashed underline rgba(255, 181, 181, 0.54); */
    color: rgb(255, 181, 181);
}
.graphic_design{
    /* grid-row: 2/3;
    grid-column: 1/2; */
    grid-row: 2/3;
    grid-column:2/3;
}
.entertainment{
    grid-row: 1/2;
    grid-column: 3/3;
    /* justify-self: flex-end; */
}
#search{
    grid-row: 2/3;
    grid-column: 3/4;
    /* justify-self: space-evenly; */
    /* margin-top: auto; */
    margin-right: 15rem;
    /* flex: 1; */
    transition: .5s;
}
.title{
    text-align: center;
    z-index: 2;
    background-color: rgba(12, 13, 18, 0.63);
    max-width: 450px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
}
#quote{
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    /* justify-content: left; */
    max-width: 20%;
    /* align-self: flex-start; */
    /* flex:.5; */
    /* justify-self: flex-start; */
    /* float: left; */
    /* margin-top: auto; */
    margin-left: 3rem;
}
#quote-text{
    border: 1px solid white;
    padding: 10px;
    color: rgba(255, 208, 114, 0.799);
    
}
#quote p{
    margin-right: 50px;
}
#quote-author{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(59, 59, 59);
}
a{
    padding-bottom: 3%;
    font-size: 18px;
}


input{
    /* display: flex; */
    margin: 0 auto;
    font-family: 'roboto mono', monospace;
    font-size: 20px;
    /* background-color: rgba(0, 0, 0, 0); */
    border: 0;
    padding: 10px;
    /* border-radius: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    /* border-bottom: 2px solid rgb(181, 255, 193); */
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 40px;
    transform: scale(1.25);
    max-width: 130px;
    transition: 1s;
    font-size: medium;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.547);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
    transition: .5s;
    border: 1px solid rgba(113, 113, 113, 0.444);
}
input:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.533);
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    /* color: white; */
    transition: 1s;
}

#container a:hover{
    /* color: rgb(255, 177, 177); */
    text-decoration: none;
    transform: scale(1.3);
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    /* box-shadow: 2px 3px rgb(0, 0, 0, .4); */
    background-color: rgba(0, 0, 0, 0);
    /* border-radius: 5px;
    border: 1px solid rgb(0, 0, 0); */
    transition: 0.3s;
}

.general a:hover{
    color: rgb(201, 255, 181);
}

.entertainment a:hover{
    color: rgb(241, 255, 181);
}

.graphic_design a:hover{
    color: rgb(255, 181, 181);
}

#container a{
    transition: 0.5s;
}
#time{
    color: rgba(255, 208, 114, 0.799);
    font-size: 50px;
    text-shadow:3px 2px rgba(255, 119, 0, 0.527);
    z-index: 1;
    max-width: 400px;
    margin: 0 auto;
}
#date{
    color: rgba(255, 208, 114, 0.799);
    /* font-size: 50px; */
    text-shadow:2px 2px rgba(255, 119, 0, 0.527);
    z-index: 1;
    max-width: 400px;
    margin: 0 auto;
    font-size: 20px;
}
#search:hover{
    transform: scale(1.2);
    transition: 0.5s;
    input{
        transition: 0.5s;
        border-radius: 0%;
        background-color: white;
        color: black;
    }
}
#search:focus{
    transform: scale(1.2);
    /* transition: 0.5s; */
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.533);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    input{
        border-radius: 0%;
    }
}

#time_container{
    /* background-color: rgb(12, 13, 18, 0.8); */
    z-index: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10%;
    /* max-height: 100px; */
}
#forest{
    filter: blur(5px); 
    /* max-height: 100%; */
    /* max-width: 100%; */
    /* max-width:fit-content; */
    max-height: fit-content;
    
    /* height: 100vh; */
    /* width: 100vw; */
    position: fixed;
    z-index: -2;

}


@media screen and (max-width: 1600px) {
    #container{
        justify-content: center;
        align-content: space-around;
        gap: 10%;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        min-height: 300px;
        max-width: 60%;

    }
    #search{
        margin: 0;
    }
    #quote{
        margin: 0;
        max-height: 2%;
        display: none;
    }
    .image{
        /* margin: 0; */
        flex-shrink: 5;
        max-width: 50px;
        display: none;
    }
    h2{
        font-size: 20px;
    }
    a, p{
        font-size: 15px;
    }
}