@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Heebo&family=Inter&display=swap');

header, footer {
  background-color: #003852;
  font-size: 1.2em;
  width:100%
}
.logo{
  margin-bottom: 1.5em;
}
footer{
  padding-top: 4em;
  padding-bottom: 2em;
  margin-top: 20em;
}

nav a {
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: #aeceea;
}
nav a:hover {
  color: white;
  background-color: #003852;
}
/* I know we haven't got to the grid function yet in class but I think it is better than the flex function */
.homegrid { 
display: grid; 
grid-template-columns: repeat(3, 1fr);
gap: 150px;
margin-top: 4em;
}
.homegrid img { max-width: 100%;}


.icon{margin: 0 auto}

.copyright {color: #aeceea}
.home-title{
  text-align: center;
  margin: 0 auto;
}
#hero-msg h4{
  text-align: center;
}
.button-box{
  text-align: center;
}
#background{
  height: 725px;
  background-color: #d9c8bf;
}
body{
  background-color: #aeceea;
  font-family: 'Abel',Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

.msg{
  padding: 40px;
  background-color: #2b2927;
  color:#d9c8bf
}
a{
  text-decoration: none;
}
.join{
  color: #d9c8bf
}
.msg{
  text-align: center;
}
#background{
height: 725px;
}
#content{
  width:1600px;
}
.logo,.icon, .social{
  width: 80px;
  height: 80px;
}
.social{
  margin: 0 auto;
  display: inline;
}
h2{
  font-family: 'Heebo', Norway, sans-serif;
}
main h2{
  color: #003852;
}
.book, .home-title, #hero-msg h4{
  color: #003852;
}
footer p, footer a{
  display: inline;
}
.button-box a:hover,.join:hover{
color: white;
}
p{
  font-size: 1.2em;;
}
.book{
font-size: 1.2em;
padding-right: 1em;
padding-left: 1em;
padding-top: .5em;
padding-bottom: .5em;
border: 5px #003852 solid;
border-radius: 15%;
}

.book:hover{
 color: #003852;
 background-color: #003852;
}
.join{
font-size: 1.2em;
padding-right: 1em;
padding-left: 1em;
padding-top: .5em;
padding-bottom: .5em;
border: 5px #d9c8bf solid;
border-radius: 15%;
}
.join:hover{
color: #2b2927;
background-color: #d9c8bf
}
.card-img {
  border: 6px solid #003852;
  border-radius: 20%;
}
main section img {
  box-sizing: border-box;
}

#hero-msg h4,.msg p{
  margin-bottom: 3em;
}
#hero-img{
  width: 100%
}
#hero-box, #hero-msg{
  background-color: aliceblue;
  padding-bottom: 3em;
}