@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Heebo&family=Inter&display=swap');

nav {
  background-color: #003852;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: #aeceea;
}
nav a:hover {
  color: white;
  background-color: #396E94
}
.homegrid{
display: flex;
gap: 150px;
}

.homegrid img {
    align-items: center;
    flex: 1;
    max-width:100%;
}
.hero-box {
    text-align: center;
    margin: 0 auto;
}

.copyright {
color: #aeceea
}
.home-title{
  text-align: center;
  margin: 0 auto;
}
#hero-msg h4{
  text-align: center;
}
.button-box{
  text-align: center;
}
#background{
  height: 725px;
  background-color: #d9c8bf;
}
body{
  background-color: #aeceea;
}
nav a:hover{
  background-color: #003852;
}
.msg{
  background-color: #2b2927;
  color:#d9c8bf
}
a{
  text-decoration: none;
}
.join{
  color: #d9c8bf
}
.msg{
  text-align: center;
}
#background{
height: 725px;
}
#content{
  width:1600px;
}
.logo, .social{
  width: 80px;
  height: 80px;
}
.social{
  margin: 0 auto;
  display: inline;
}
main h2{
  color: #003852;
}
.book, .home-title, #hero-msg h4{
  color: #003852;
}
footer p, footer a{
  display: inline;
}
.button-box a:hover,.join:hover{
color: white;
}