@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: rgb(255, 237, 213);
    text-align: center;
}

#hero img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 10px, 10px rgb(0, 0, 0, .4) inset;
    border-radius: 50%;
    border: 5px rgb(0, 0, 0) solid;
    margin-bottom: 4em;
}

.intro{
    margin-bottom: 5em;
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(0, 0, 0, .5);
}

.intro p {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2em;
    font-size: larger;
    line-height: 1.5;
}
.disciples{
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5em;
}

.disciples p{
    grid-column: 1/2;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: larger;
    line-height: 3;
}

#hero h1{
    color: rgb(0, 0, 0);
    display: block;
    justify-self: center;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 3em;
    
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Playfair Display', serif;
    color: rgb(92, 84, 72);
}

.disciples img{
    grid-column: 2/3;
    grid-row: auto;
    max-width: 300px;
    margin-left: 30%;
    margin-right: 30%;
    border: 5px rgb(0, 0, 0) solid;
    padding: 2em;
    border-radius: 1%;
    background-color: rgb(0, 0, 0, .1);
    box-shadow: 10px 10px rgb(0, 0, 0, .5);
}

.closing{
    text-align: center;
    margin-bottom: 15rem;
    margin-left: 18%;
    margin-right: 18%;
    background-color: white;
    border: 5px rgb(0, 0, 0) solid;
    padding: 2em;
    border-radius: 1%;
    box-shadow: 10px 10px rgb(0, 0, 0, .5);
}

.closing p {
    font-size: large;
    line-height: 2.5;
}

hr{
    margin-left: 12%;
    margin-right: 12%;
}
.line{
    display: none;
}

@media screen and (max-width: 900px) {
    .disciples{
        display: block;
    }
    .disciples img{
        margin-left: 0;
        margin-right: 0;
    }

    .head{
        margin-bottom: 5rem;
    }
    .line{
        display: block;
        margin-bottom: 5rem;
    }
}