body{
    text-align: center;
    background-color:pink
}
img{
    max-width: 30%;
    max-height: 30%;
}
.white{
    color: white;
}
body{
    margin-left: 20%;
    margin-right: 20%;
}
header h1{
    color: white
}
header h1:hover{
    color: black;
}
.right{
    text-align: left;
}