body{
    background-color:#472d30 ;
    color: #ffcbcb;
}
h1, h2, h3, h4, h5, h6 {
    color:white ;
}
.logo{
    max-width: 80px;
    max-height: 80px;
}
nav a:link, nav a:visited, footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}